@import "./variable.scss";

.boxFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intForm {
  width: 442px;
  height: 73px;
  border: 3px solid #ff9800;
  border-radius: 10px;
  outline: none;
  font-size: 1.5rem;
  padding-left: 10px;
  color: #857a7a;
}

.container {
  @extend .boxFlex;
  flex-wrap: wrap;

  .container__header {
    @extend .boxFlex;
  }

  .container__login {
    @extend .boxFlex;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 8px rgba(0, 0, 0, 0.25);
    background-color: white;

    .container__login-form {
      @extend .boxFlex;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;

      .form-input {
        @extend .intForm;
      }

      .form-label {
        font-family: $roboto;
        font-size: 1.5rem;
      }


    }
  }
}

.titleCenter {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form-btnLogin {
  font-size: 20px;
  font-weight: 700;
  background-color: $button-color;
  color: $button-color-text;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.list_options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
  list-style-type: none;
}
