@import './variable.scss';
// .accordion{
//     display:none;
// }

.orderDetail {
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 3px solid $button-color;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px $background-shadow;
    border-radius: 8px;
    margin-top: 21px;
    left: 50vw;
    width: 43.8vw;
    height: auto;
    // position: fixed;

    ul {
        display: flex;
        height: 37px;
        border-bottom: 2px solid black;
        align-items: center;

        p {
            padding-left: 16px;
            font-size: $font-24px;
        }
    }

}

.orderButton {
    margin-top: 31px;
}

header {
    background-color: $header;
    width: 100vw;
    height: 8.6vh;

    img {
        max-width: 39.6vw;
        max-height: 8.7vh;
        padding-left: 21px;
        padding-top: 6px;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $background-color;
    margin-top: 19px;
    border-radius: 20px;
    border: 6px solid $background-stroke;
    box-shadow: 0px 4px 4px $background-shadow, 0px 8px 8px $background-shadow;
}

.buttonOrder {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    input {
        margin-left: 10px;
        padding: 10px;
        font-size: 18px;
        border-radius: 20px;
    }
}

table {
    thead {
        font-size: 18px;
        width: 160px;
    }

    tbody {
        font-size: 16px;
    }

}

.buttonMenu {
    box-shadow: 0px 4px 4px $background-shadow, 0px 4px $background-shadow;
    border-radius: 10px;
    background-color: $base-color;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.buttonSubMenu {
    box-shadow: 0px 4px 4px $background-shadow, 0px 4px $background-shadow;
    border-radius: 10px;
    color: $font-white;
    background-color: $header;
    padding: 10px 20px;

}

#results {
    display: flex;
    gap: 10px;
    width: 80%;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: -20px;
    align-self: center;
}

.boxButtonMenu {
    display: flex;
    justify-content: space-evenly;
}

.hide {
    display: none;
}

.boxMain {
    margin: 20px;
    padding: 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.imageCashier {
    width: 174px;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
}

.productCashier {
    display: flex;
    flex-direction: row;
    border: solid 3px #ebbdbd;
    border-radius: 14px;
}

.productName {
    display: flex;
    flex-direction: column;
}

.buttonProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    min-width: 250px;
}

.buttonAdd {
    font-size: 14px;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}

.tableComponent {
    width: 100%;
}

.borderRadiousNone {
    border-radius: 0;
}

.buttonSection {
    display: flex;
    gap: 10px;
}

.detailProduct {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.orderVoucher {
    padding: 10px;
}

.boletapedido {
    width: fit-content;
    border: solid 3px #ebbdbd;
    padding: 10px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiplesBoletas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}